*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 800px;
    border:1px solid #e5e6e6 ;
    text-align: center;
}
.Featured{
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #e5e6e6;
    background-color: #f7f7f7   ;
}
.main{
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #e5e6e6;
    border-bottom: none;
}
.treatment{
    padding-bottom: 12px;
}
.text{
    padding-bottom: 12px;
}
.main .somewhere{
    border-radius: 5px;
    background: blue;
    color: white;
}
.days{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #f7f7f7
}
